.top{
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  width: 80%;
  min-height: 420px;
  background-position-y: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .text{
    width: 80%;
    text-align: center;
    h1{
      font-size: 38px;
    }
    p{
      line-height: 1.2em;
      color: white;
      letter-spacing: 1px;
    }
  }
}

.pluses{
  display: flex;
  justify-content: center;
  background: rgba(246, 251, 254, 1);
  .pluses-container{
    width: 80%;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 55px 0;

    .systems{
      max-width: 40%;
      display: flex;
      align-items: flex-start;
      margin-bottom: 55px;

      .logo{
        margin-right: 55px;
      }
      .text{
        h3{
          margin: 0;
          font-family: HelveticaBold;
        }
        p{
          margin-top: 10px;
          font-size: 14px;
          word-spacing: 1px;
          line-height: 1.3em;
          color: rgba(70, 70, 70, 1);
        }
      }
    }
    .deposit, .money{
      margin-bottom:0;
    }
  }
}
.team{
  display: flex;
  justify-content: center;
  background: rgba(246, 251, 254, 1);
  width: 100%;
  .team-container {
    width: 80%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    padding: 55px 0;
    position: relative;
    flex-direction: column;
    align-items: center;
    h1{
      font-size: 24px;
      position: absolute;
      background: white;
      top: 0;
      margin: 0;
      color: #0c324e !important;
      padding: 3px 15px;
      left: calc(50% - 167px);
    }

    .people{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      flex-wrap: wrap;

      .director, .one-team{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 150px;
        .team-img{
          width: 150px;
          height: 150px;
          background-size: cover;
          border-radius: 50%;
          background-position: center;
          filter: grayscale(100%);
          margin-right: 25px;
          min-width: 150px;
          background-position-y: -3px;
          background-repeat: no-repeat;
          img{

          }
        }
        .img-technion{
          background-position-y: -3px;

        }

        .text{
          h2{
            font-family: HelveticaBold;
            font-weight: bold;
            font-size: 2.5rem;
            margin: 0;
          }
          h3{
            margin: 0;
          }
        }
      }
      .one-team{
        width: 49%;
        margin-top: 35px;
        margin-right: 5px;
      }
    }

  }
}

@import "./Mobile";