@import "../vars";
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 80%;
  #logo {
    text-decoration: none;
    cursor: pointer;
    .logo {
      display: flex;
      align-items: center;
      font-size: 2em;
      color: white;
      font-weight: 100;
      cursor: pointer;

      img {
        max-height: 45px;
        margin-right: 5px;
        margin-top: -6px;
        cursor: pointer;

      }
      .bold {
        font-family: HelveticaBold;
      }
    }
  }

  .menu{
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      list-style: none;
      padding-left: 0;
      margin: 0;
      li {
        margin-right: 15px;
        position: relative;
        text-transform: uppercase;
        cursor: pointer;

        a {
          //color:black;
          color: white;
          text-decoration: none;
          position: relative;
          cursor: pointer;
          transition: .25s;

          &:hover {
            color: $LightGold;

          }
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          a{
            color: $LightGold;
          }
        }
      }
    }
  }


  .login{
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 3px;
    opacity: 0.6;
    padding: 6px 10px 3px;
    cursor: pointer;
    color:white;
    transition: .25s;
    margin-top: -7px;


    &:hover{
      opacity: 1;
    }
      //width: 127px;
      //height: 24px;
  }
}

@media (max-width: 1030px) {
  .header {
    .menu {
      font-size: .9em;
    }
    .login {
      font-size: .9em;
    }
  }
}

