
@media (max-width: 569px) {
  .footer{
    .cont{
      font-size: .8em;
      .PP, .feedback{
        margin-right: 20px;
        font-size: 0.7em;
      }
      .contacts{
        font-size: 0.7em;
      }
    }
    .socials{
      width: 50%;
    }
  }
}