.faq{
  width: 100%;
  height: 400px;
  background: #f6fbfe;
  display: flex;
  justify-content: center;
  .faq-container{
    //border: 1px solid;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        color: black !important;
        margin-bottom: 0 !important;
    }
    .afterHead{
      margin-top: 5px;
    }
    .faqs{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .one-faq{
        max-width: 42%;
        h3{
          font-family: HelveticaBold;
          cursor: pointer;
          i{
            color: #ffbb24;
          }
        }
        p{
          color: #464646;
        }
      }
    }
  }
}