@import "../vars";
.top{
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  width: 80%;
  min-height: 420px;
  background-position-y: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text{
    h1{
      font-size: 38px;
    }
    p{
      line-height: 1.3em;
      padding: 0 70px 0 0;
      color: white;
      max-width: 360px;
    }
    .btn-buy {
      border-radius: 7px;
      background-color: $BrightGold;
      box-shadow: inset 0 1px 7.74px 1.26px rgba(0, 0, 0, 0.35);
      width: 145px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: white;
      cursor:pointer;
      transition: .25s;

      &:hover{
        box-shadow: inset 0 1px 7.74px 1.26px rgba(0, 0, 0, 1);
        //transform: scale(1.02);
      }
    }

  }
  .video{
    min-width: 450px;
    min-height: 250px;
    border: 5px solid rgb(66, 80, 103);
    border-radius: 6px;
    position: relative;
    iframe{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
    }
  }

}


.progress{
  width: 100%;
  background: $MainBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 350px;
  position: relative;
  h1{
    font-size: 24px;
    position: absolute;
    background: #0c324e;
    top: 0;
    margin: 0;
    padding: 3px 15px;
    left: calc(50% - 125px);
  }
  h2{
    margin-top: 75px;
    font-size: 30px;
  }
  .coins_left{
    font-size: 4em;
    display: flex;
    align-items: center;
    img{
      max-height: 90px;
      margin-right: 15px;
      margin-top: -10px;
    }
  }
}

progress {
  width: 60%;
  margin: 2em auto;
  margin-bottom: 0;
  display: block;
  border-radius: 14px;
  padding: 0;
  border: 4px solid rgb(204, 195, 195);
  text-align: center;
  height: 25px;
  box-shadow: inset 0px 0px 5.1px 0.9px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: .3s;
  z-index: 2;
  cursor: none;
  background: #2f4f76;
  position: relative;
  &:before {
    content: "";
    height: 100%;
    width: 3px;
    background: rgb(254, 175, 0);
    position: absolute;
    left: 30%;
    //padding: 0 5px;
    line-height: 1.3em;
  }
  &::-moz-progress-bar {
    box-shadow: inset 0px 0px 5.1px 0.9px rgba(0, 0, 0, .61);
    background:  rgb(254, 175, 0);

    //border-radius: 14px;
  }

  &::-webkit-progress-bar {
    background: #2f4f76;
    //box-shadow: 0 0 10px gold;
    box-shadow: inset 0px 0px 5.1px 0.9px rgba(0, 0, 0, 0.61);
    transition: .3s;

    &:hover {
      //box-shadow: 0 0 20px gold;
      box-shadow: inset 0px 0px 5.1px 0.9px rgba(0, 0, 0, 0.61);

    }
  }


  &::-webkit-progress-value {
    background: #ffaf00;
    box-shadow: inset 0px 0px 5.1px 0.9px rgba(0, 0, 0, 0.61);
    //border-radius: 3px;

  }

  &:hover {
    //box-shadow: 0 0 10px #ffaf00;
    box-shadow: inset 0px 0px 5.1px 0.9px rgba(0, 0, 0, 0.4);
    border-radius: 0;
  }
}
.afterProgress {
  margin-top: 5px;
  color: #464646;
  position: relative;
  width: 60%;
  .left, .right, ._30_percentages {
    position: absolute;
  }
  .left {
    //left: -10px;
    margin-left: -4%;
  }
  ._30_percentages{
    top: -53px;
    left: 29%;

    &:before{
      content: "";
      height: 2em;
      width: 3px;
      background-color: #feaf00;
      position: absolute;
      bottom: -28.7px;
      right: calc(50% + 4px);
      z-index: 10;
      border-top-left-radius: 50px;
    }
  }
  .right {
    right: -10px;
  }
}


.tableSplit{
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  h2{
    margin-top: 0;
  }
  table{
    width: 800px;
    border: 1px solid rgb(248, 248, 248);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
    font-size: 17px;
    text-align: center;
    border-spacing: 0;
    margin-bottom: 25px;

    thead {
      tr {
        background: #eaeaea;
        th {
          padding: 20px 0;
          font-family: HelveticaBold;

          &:first-child{
            width: 125px;
          }
          &:nth-child(2){
            width: 150px;
          }
        }
      }
    }
    tbody{
      tr{
        transition: .25s;
        td{
          padding: 20px 0;

          &:nth-child(even) {
            color: #ffae00;
          }
          &:nth-child(3) {
            //font-family: HelveticaBold;
          }
        }

        &:nth-child(even) {
          background: #f8f8f8;
        }
        &:hover{
          background: rgba(234, 234, 234, .6);
        }
      }
    }
  }
  .end{
    text-align: center;
    .allSumm{
      color: rgba(114, 114, 123, 1);
      font-size: 20px;
      margin-bottom: 25px;

      span{
        color: #ffaf00;
        font-size: 24px;
      }
    }
    .future{
      font-size: 22px;
      display: flex;
      align-items: center;
      img{
        max-height: 35px;
        max-width: 35px;
        margin: -3px 5px 0;
      }
      span{
        font-family:HelveticaBold;
      }
    }
  }
}

@media (max-width: 1279px) {
  .top{
    min-height: 325px;
    background-size: 300px;
    .text{
      max-width: 350px;
      h1{
        font-size: 28px;
      }
      p{
        padding: 0 35px 0 0;
        font-size: .92em;
      }
    }
    .video{
      min-width: 375px;
      min-height: 220px;
    }
  }
}


