.top{
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  width: 80%;
  min-height: 420px;
  background-position-y: 20px;
}

.progress{
  width: 100%;
  background: white;
}