@import "../vars";
@import "Fonts";

.coins-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  //border-bottom: 1px solid;
  font-size: 1.4em;
  color: $LightGold;
  font-family: HelveticaBold;
  text-shadow: 0 0 10px black;
  //box-shadow: 0 0 10px 1px black;
  div{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    &:last-child{
      //border-right: none;
      box-shadow: none;
    }
  }
}

.refill{
  h1{}
  .refill-container{
    .packages{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      text-align: center;
      font-size: 1.6em;
      div{
        width: 100%;
        margin-right: 2px;
        i{
          font-size: 2em;
        }
        p{
          margin: 2px 0;
        }
      }
    }
  }
}